main {
    display: grid;
    width: 100vw;
    grid-template-areas: " tableau"
                        " flourish";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-top: 50px;

}

/* .blank {
    grid-area: blank;
    background-color: blue;
} */

.tableau {
    grid-area: tableau;
}

.flourish {
    grid-area: flourish;
}